<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header"> 
                        <h2 class="card-title">Pass the Queue</h2>
                    
                    <!-- IF THERE IS CLIENTS -->
                    <div class="content" *ngIf="ticketGuichet.length != 0">
                        <div>
                            <div id="nxt" class="row">
                                <div id="c" class="col-md-4 txt">
                                    <h2 id="c2">Current Client :</h2>
                                </div>
                                <div id="c" class="col-md-3 number">
                                    <h2><b>{{ firstTicket.guichet.service.nom | uppercase }}-{{firstTicket.id}}</b></h2>
                                </div>
                                <div id="c" class="col-md-3 button">
                                    <button class="btn btn-primary btn-lg" type="submit" (click)="getNext(firstTicket.id)">Next <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- IF THERE IS NOOOOO CLIENTS -->
                    <div class="content" *ngIf="ticketGuichet.length == 0">
                        <div class="row">
                            <div class="col-md-6 txt">
                                <h4 style="color:red ;">The queue is empty, there are no clients</h4>
                            </div>
                        </div>
                    </div>
                    
                </div> 
            </div>
        </div>
    </div>
</div>