<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Ticket</ion-title>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- TICKET BOOKED -->
<ion-content *ngIf="ticketClient.length != 0">
  <ion-card [class]="card" *ngFor="let t of ticketClient">
    <ion-card-header>
      <ion-card-title>
        <h5 class="title" style="text-align:center"> Your Ticket number:</h5>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="warning">
        <h1 style="text-align:center">{{ t.guichet.service.nom | uppercase }}-{{ t.id }}</h1>
      </ion-text> <br>
      <ion-text>
        <h2 style="text-align:center">Expected time for your turn:</h2>
      </ion-text>
      <ion-text color="warning">
        <h1 style="text-align:center">{{t.date}}</h1>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- IF THERE IS NO TICKET -->
<ion-content  *ngIf="ticketClient.length == 0">
  <ion-card [class]="card">
    <ion-card-header>
      <ion-card-title>
        <h5 class="title" style="text-align:center"> Your have no ticket</h5>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <a (click)="goToServices()"><h2 style="text-align:center">Book a Ticket</h2></a>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
