.card  {
    background-image: url(../../assets/img/card.png);
    background-size: cover;
    background-position: center;
  }

.cardDark{
  background-image: url(../../assets/img/cardDark.png);
  background-size: cover;
  background-position: center;
}