<ion-app *ngIf="isLoggedIn">


  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="warning">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home Page</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      
      <ion-list>
        <ion-list-header> News </ion-list-header>

        <ion-card *ngFor="let article of articles">
          <ion-item>
            <ion-icon name="newspaper-outline" slot="start" color="warning"></ion-icon>
            <ion-label>{{ article.title}}</ion-label>
          </ion-item>
        
          <ion-card-content>
            {{ article.contenu }}
          </ion-card-content>
        </ion-card>
        
        
      </ion-list>

    </ion-content>
  </div>
</ion-app>