<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <lbd-chart
                  [title]="'Services Statistics'"
                  [subtitle]="'Most used service Today'"
                  [chartClass]="'ct-perfect-fourth'"
                  [chartType]="emailChartType"
                  [chartData]="emailChartData"
                  [legendItems]="emailChartLegendItems"
                  [withHr]="true"
                  [footerIconClass]="'fa fa-clock-o'"
                  [footerText]="'updated now'">
                </lbd-chart>
            </div>
            <div class="col-md-6">
                <lbd-chart
                  [title]="'2022 Services'"
                  [subtitle]="'Most used service per month'"
                  [chartType]="activityChartType"
                  [chartData]="activityChartData"
                  [chartOptions]="activityChartOptions"
                  [chartResponsive]="activityChartResponsive"
                  [legendItems]="activityChartLegendItems"
                  [withHr]="true"
                  [footerIconClass]="'fa fa-check'"
                  [footerText]="'Data information certified'">
                </lbd-chart>
            </div>
        </div>
    </div>
</div>
