<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header"> 
                        <h2 class="card-title">View Window</h2>
                        <a href="#" [routerLink]="['/guichets']" class="btn btn-primary"><i class="fa fa-undo" aria-hidden="true"></i> Back</a> 
                    </div>
                    <div class="content">
                        <div class="typo-line">
                            <h5><p class="category"><strong>ID:</strong></p>{{ guichet.id }}</h5>
                        </div>

                        <div class="typo-line">
                            <h5><p class="category"><strong>Window Number:</strong></p>{{ guichet.number }}</h5>
                        </div>

                        <div class="typo-line">
                            <h5><p class="category"><strong>Opening Time:</strong></p>{{ guichet.open }}</h5>
                        </div>

                        <div class="typo-line">
                            <h5><p class="category"><strong>Closing Time:</strong></p>{{ guichet.close }}</h5>
                        </div>

                        <div class="typo-line">
                            <h5><p class="category"><strong>Agent:</strong></p>{{ guichet.agent.username }}</h5>
                        </div>

                        <div class="typo-line">
                            <h5><p class="category"><strong>Service:</strong></p>{{ guichet.service.nom }}</h5>
                        </div>
                    
                        <a href="#" [routerLink]="['/guichet/', guichet.id, 'edit']" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

