<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header"> 
                        <h2 class="card-title">Create New Window</h2>
                        <a href="#" [routerLink]="['/guichets']" class="btn btn-primary"><i class="fa fa-undo" aria-hidden="true"></i> Back</a>
                    </div>
                    <div class="content">
                        <form [formGroup]="form" (ngSubmit)="submit()">

                            <div class="form-group">
                                <label for="number">Window Number:</label>
                                <input 
                                    formControlName="number"
                                    id="number" 
                                    type="number" 
                                    class="form-control">
                                <div *ngIf="f.number.touched && f.number.invalid" class="alert alert-danger">
                                    <div *ngIf="f.number.errors.required">Number is required.</div>
                                </div>
                            </div>
  
                            <div class="form-group">
                                <label for="open">Opening Time:</label>
                                <input 
                                    formControlName="open"
                                    id="open" 
                                    type="time" 
                                    class="form-control">
                                <div *ngIf="f.open.touched && f.open.invalid" class="alert alert-danger">
                                    <div *ngIf="f.open.errors.required">Opening Time is required.</div>
                                </div>
                            </div>
                      
                            <div class="form-group">
                                <label for="close">Closing Time:</label>
                                <input 
                                    formControlName="close"
                                    id="close" 
                                    type="time" 
                                    class="form-control">
                                <div *ngIf="f.close.touched && f.close.invalid" class="alert alert-danger">
                                    <div *ngIf="f.close.errors.required">Closing Time is required.</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="service">Service:</label>
                                <select formControlName="service" id="service" class="form-control">
                                    <option *ngFor="let s of services; let i = index" [selected]="i == 0">{{ s.nom }}</option>
                                  </select>
                            </div>

                            <div class="form-group">
                                <label for="agent">Agent:</label>
                                <select formControlName="agent" id="agent" class="form-control">
                                    <option *ngFor="let a of agents; let i = index" [selected]="i == 0">{{ a.username }}</option>
                                    <!-- <option *ngFor="let a of agents" [value]="a.username" [selected]="a.username">{{ a.username }}</option> -->
                                  </select>
                            </div>
                            <!-- <div class="form-group">
                                <label for="service">Service:</label>
                                <input 
                                    formControlName="service"
                                    id="service" 
                                    type="number" 
                                    class="form-control">
                                <div *ngIf="f.service.touched && f.service.invalid" class="alert alert-danger">
                                    <div *ngIf="f.service.errors.required">service is required.</div>
                                </div>
                            </div>
                       -->
                            <button class="btn btn-primary" type="submit" [disabled]="!form.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> Submit</button>
                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>